html,
body {
    overflow-x: hidden;
    /* Prevent scroll on narrow devices */
    height: 100%;
    font-family: 'montserrat';
       overflow: scroll;
}

footer {
    padding: 30px 0;
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
    cursor: auto;
}

a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border-radius: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

*, ::after, ::before {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

/*map stuff --*/

     #map {
        height: 450px;
      }

/*#description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }*/

/*      ------**/


.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    border-bottom: 1px solid #eee;
}

.header {
    padding-right: 0; 
    padding-left: 0;
    max-width: 1170px;
    margin: 0 auto;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

.collapse {
    display: none;
}

.navbar {
    position: relative;
    display: flex;
    padding: 1.5rem 1rem;
}

.navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.9rem;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
}

.errands-logo {
    display: block;
    float: left;
    max-width: 100%;
    zoom: 1;
}

.errands-logo img {
    width: auto;
}

#current-user {
    display: inline-block;
}
